<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d96b9e">  <td>19/07/14 15:52:09</td>   <td>0</td> <td title="&gt;&gt;Reporter.startReport()[pri:0, instance:com.leafBot.testcases.CL@3a93b025]">&gt;&gt;startReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@168907708</td>   <td></td> </tr>
<tr bgcolor="d8c9b7">  <td>19/07/14 15:52:09</td>   <td>228</td> <td>&nbsp;</td><td title="&gt;&gt;CL.setData()[pri:0, instance:com.leafBot.testcases.CL@3a93b025]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@168907708</td>   <td></td> </tr>
<tr bgcolor="6d6ab7">  <td>19/07/14 15:52:09</td>   <td>236</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGCucumberTests.setUpClass()[pri:0, instance:com.leafBot.testcases.CL@3a93b025]">&gt;&gt;setUpClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@168907708</td>   <td></td> </tr>
<tr bgcolor="d96b9e">  <td>19/07/14 15:52:09</td>   <td>352</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Reporter.report()[pri:0, instance:com.leafBot.testcases.CL@3a93b025]">&gt;&gt;report</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@168907708</td>   <td></td> </tr>
<tr bgcolor="a698b5">  <td>19/07/14 15:52:10</td>   <td>1128</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Annotations.beforeMethod()[pri:0, instance:com.leafBot.testcases.CL@3a93b025]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@168907708</td>   <td></td> </tr>
<tr bgcolor="d8c9b7">  <td>19/07/14 15:52:17</td>   <td>8331</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CL.loginAndLogout(java.lang.String, java.lang.String)[pri:0, instance:com.leafBot.testcases.CL@3a93b025]">loginAndLogout</td> 
  <td>main@168907708</td>   <td></td> </tr>
<tr bgcolor="a698b5">  <td>19/07/14 15:52:21</td>   <td>11555</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Annotations.afterMethod()[pri:0, instance:com.leafBot.testcases.CL@3a93b025]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@168907708</td>   <td></td> </tr>
<tr bgcolor="a698b5">  <td>19/07/14 15:52:21</td>   <td>11684</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Annotations.beforeMethod()[pri:0, instance:com.leafBot.testcases.CL@3a93b025]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@168907708</td>   <td></td> </tr>
<tr bgcolor="d8c9b7">  <td>19/07/14 15:52:27</td>   <td>17627</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CL.loginAndLogout(java.lang.String, java.lang.String)[pri:0, instance:com.leafBot.testcases.CL@3a93b025]">loginAndLogout</td> 
  <td>main@168907708</td>   <td></td> </tr>
<tr bgcolor="a698b5">  <td>19/07/14 15:52:29</td>   <td>20190</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Annotations.afterMethod()[pri:0, instance:com.leafBot.testcases.CL@3a93b025]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@168907708</td>   <td></td> </tr>
<tr bgcolor="6d6ab7">  <td>19/07/14 15:52:31</td>   <td>22232</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGCucumberTests.tearDownClass()[pri:0, instance:com.leafBot.testcases.CL@3a93b025]">&lt;&lt;tearDownClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@168907708</td>   <td></td> </tr>
<tr bgcolor="d96b9e">  <td>19/07/14 15:52:31</td>   <td>22285</td> <td title="&lt;&lt;Reporter.stopReport()[pri:0, instance:com.leafBot.testcases.CL@3a93b025]">&lt;&lt;stopReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@168907708</td>   <td></td> </tr>
</table>
